<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.techtibet.edxclone">

    <application
        android:allowBackup="true"
        android:icon="@drawable/edxlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/edxlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".UserActivity"
            android:parentActivityName=".HomeActivity"></activity>
    </application>

</manifest>